<div id="main">
  <div class="background_img_1"></div>
  <div class="background_img_2"></div>

  <div class="title">
    <h1>
      Catendar
    </h1>

    <div class="loading">
      <div class="spinner" *ngIf="loading">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>

    <div class="choice">
      <select type="string" [(ngModel)]="targetType" (change)="setup(targetDay)">
        <option *ngFor="let type of types" [value]="type">{{capitalizeFirstLetter(type)}}</option>
      </select>
    </div>
  </div>

  <div class="box" [ngSwitch]="targetType">
    <div *ngSwitchCase="'μέρα'">
      <ng-container *ngTemplateOutlet="day; context:{ day : targetDay, single : true }"></ng-container>
    </div>
    <div *ngSwitchCase="'εβδομάδα'">
      <ng-container *ngTemplateOutlet="week"></ng-container>
    </div>
    <div *ngSwitchCase="'μήνας'">
      <ng-container *ngTemplateOutlet="month"></ng-container>
    </div>
    <div *ngSwitchCase="'χρόνος'">
      <ng-container *ngTemplateOutlet="year"></ng-container>
    </div>
  </div>
</div>

<ng-template #year>
  <div class="year">
    <h1>
      <button class="arrow" (click)="arrow('χρόνος', 'left')">&lt;Προηγούμενος</button>
      <u>{{targetDay.getFullYear()}}</u>
      <button class="arrow" (click)="arrow('χρόνος', 'right')">Επόμενος></button>
    </h1>
    <div class="year_month" *ngFor="let month of targetYear">
      Στον {{capitalizeFirstLetter(month.month).slice(0, -1)}},
      <br>
      υπάρχουν συνολικά
      <br>
      <u>{{month.numberOfNotes}} σημειώσεις</u>
      <br>
      σε
      <br>
      <u>{{month.daysWithNotes}} διαφορετικές μέρες</u>!
      <br>
      <button (click)="goToMonth(month.month)">Δες τες!</button>
    </div>
  </div>
</ng-template>

<ng-template #month>
  <div class="month">
    <h1>
      <button class="arrow" (click)="arrow('μήνας', 'left')">&lt;Προηγούμενος</button>
      {{capitalizeFirstLetter(months[targetDay.getMonth()])}}, {{targetDay.getFullYear()}}
      <button class="arrow" (click)="arrow('μήνας', 'right')">Επόμενος></button>
    </h1>
    <div *ngFor="let monthDay of targetMonth" class="month_day">
      <ng-container *ngTemplateOutlet="day; context:{ day : monthDay }"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #week>
  <div class="week">
    <h1>
      <button class="arrow" (click)="arrow('βδομάδα', 'left')">&lt;Προηγούμενη</button>
      <b>Εβδομάδα #{{weekNumber}}</b>
      <button class="arrow" (click)="arrow('βδομάδα', 'right')">Επόμενη></button>
    </h1>
    <div *ngFor="let weekday of targetWeek" class="week_day">
      <ng-container *ngTemplateOutlet="day; context:{ day : weekday }"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #day let-targetDay="day" let-single="single">
  <div [ngClass]="single ? 'day' : 'day not-single'">
    <div>
      <h1 [ngClass]="single ? '' : 'not-single'">
        <button *ngIf="single" class="arrow" (click)="arrow('μέρα', 'left')">&lt;Προηγούμενη</button>
        <b>{{capitalizeFirstLetter(days[targetDay.getDay()])}} - {{dateToString(targetDay)}}</b>
        <button *ngIf="single" class="arrow" (click)="arrow('μέρα', 'right')">Επόμενη></button>
      </h1>
      <ng-container *ngTemplateOutlet="addNote; context:{ day : targetDay, single : single }"></ng-container>
    </div>
    <div
      *ngIf="allNotes[targetDay.getFullYear() - today.getFullYear() + 1][targetDay.getMonth()][targetDay.getDate()].length === 0"
      [ngClass]="single ? 'no_notes' : 'no_notes not-single'"
    >
      Αυτή η μέρα δεν έχει σημειώσεις!
    </div>
    <div
      *ngFor="let targetNote of allNotes[targetDay.getFullYear() - today.getFullYear() + 1][targetDay.getMonth()][targetDay.getDate()]; let idx = index; trackBy: trackByFn"
      [ngClass]="single ? 'content' : 'content not-single'"
    >
      <!-- Header -->
      <label
        (for)="'note' + idx"
        [ngClass]="single ? 'note_number' : 'note_number not-single'"
      >
        <u>Σημείωση #{{idx + 1}}</u>:
      </label>
      <!-- Input Field -->
      <input
        type="text"
        (id)="'note'+idx"
        [ngClass]="single ? 'textarea' : 'textarea not-single'"
        [(ngModel)]="allNotes[targetDay.getFullYear() - today.getFullYear() + 1][targetDay.getMonth()][targetDay.getDate()][idx]"
        (focusout)="saveFunction(targetDay)"
      >
      <!-- Remove Button -->
      <button
        (click)="removeNoteFromDay(targetDay, idx)"
        [ngClass]="single ? 'remove_btn' : 'remove_btn not-single'"
      >
        X
      </button>
    </div>
  </div>
</ng-template>

<!-- <ng-container *ngTemplateOutlet="addNote; context:targetDay"></ng-container> -->
<ng-template #addNote let-day="day" let-single="single">
  <div [ngClass]="single ? 'add_note' : 'add_note not-single'">
    <button (click)="addNoteToDay(day)">
      <img src='assets/newnote.svg' />
    </button>
  </div>
</ng-template>
