#main {
  height: 95vh;
  width: 99vw;
  margin: auto;
  overflow: hidden;

  font-family: sans-serif;

  .background_img_1 {
    z-index: -1;
    position: absolute;
    top: 0.5em;
    left: 1em;
    width: 15vh;
    height: 15vh;

    background-image: url("../../assets/kitten.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .background_img_2 {
    z-index: -1;
    position: absolute;
    top: 0.5em;
    right: 19em;
    width: 15vh;
    height: 15vh;

    background-image: url("../../assets/kitten_paw.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transform: scaleX(-1);
  }

  .title {
    width: 95%;
    max-height: 25%;
    margin: 1rem auto;

    h1 {
      display: inline-block;
      width: 33%;
      text-align: center;
      padding-right: 10%;
      font-size: 3rem;

      border-bottom: 2px solid #a100c9;

      // gradient
      background: -webkit-linear-gradient(#8e00b1, rgb(255, 0, 204));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      -webkit-user-select: none; /* Chrome all / Safari all */
      -moz-user-select: none; /* Firefox all */
      -ms-user-select: none; /* IE 10+ */
      user-select: none; /* Likely future */
    }

    .loading {
      display: inline-block;
      width: 33%;

      .spinner {
        margin: auto;
        width: 5%;

        .lds-roller {
          display: inline-block;
          position: relative;
          width: 80px;
          height: 80px;
        }
        .lds-roller div {
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          transform-origin: 40px 40px;
        }
        .lds-roller div:after {
          content: " ";
          display: block;
          position: absolute;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #000000;
          margin: -4px 0 0 -4px;
        }
        .lds-roller div:nth-child(1) {
          animation-delay: -0.036s;
        }
        .lds-roller div:nth-child(1):after {
          top: 63px;
          left: 63px;
        }
        .lds-roller div:nth-child(2) {
          animation-delay: -0.072s;
        }
        .lds-roller div:nth-child(2):after {
          top: 68px;
          left: 56px;
        }
        .lds-roller div:nth-child(3) {
          animation-delay: -0.108s;
        }
        .lds-roller div:nth-child(3):after {
          top: 71px;
          left: 48px;
        }
        .lds-roller div:nth-child(4) {
          animation-delay: -0.144s;
        }
        .lds-roller div:nth-child(4):after {
          top: 72px;
          left: 40px;
        }
        .lds-roller div:nth-child(5) {
          animation-delay: -0.18s;
        }
        .lds-roller div:nth-child(5):after {
          top: 71px;
          left: 32px;
        }
        .lds-roller div:nth-child(6) {
          animation-delay: -0.216s;
        }
        .lds-roller div:nth-child(6):after {
          top: 68px;
          left: 24px;
        }
        .lds-roller div:nth-child(7) {
          animation-delay: -0.252s;
        }
        .lds-roller div:nth-child(7):after {
          top: 63px;
          left: 17px;
        }
        .lds-roller div:nth-child(8) {
          animation-delay: -0.288s;
        }
        .lds-roller div:nth-child(8):after {
          top: 56px;
          left: 12px;
        }
        @keyframes lds-roller {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }

    .choice {
      display: inline-block;
      width: 33%;
      padding: auto 0;

      select {
        float: right;
        width: 50%;
        height: 75%;
        font-size: 2rem;
        margin: auto;
        transform: translateY(25%);
      }
    }
  }

  .box {
    width: 100%;
    margin: auto;
  }

  .day {
    max-height: 80vh;
    border: 1px solid black;
    overflow-y: scroll;

    &.not-single {
      max-height: 70vh;
    }

    h1 {
      display: inline-block;
      text-align: center;
      margin: 1rem;
      font-size: 2.75rem;
      width: 25em;

      &.not-single {
        font-size: 1.5em;
        width: unset;
      }

      -webkit-user-select: none; /* Chrome all / Safari all */
      -moz-user-select: none; /* Firefox all */
      -ms-user-select: none; /* IE 10+ */
      user-select: none; /* Likely future */
    }

    .no_notes {
      color: red;
      text-align: center;
      font-size: 3rem;
      margin: 2rem auto;

      &.not-single {
        font-size: 1em;
      }
    }

    .content {
      font-size: 2em;
      margin: 2rem 0.5rem 1rem 0.5rem;

      &.not-single {
        font-size: 1.5em;
        margin: 0.25rem 0.1rem 0.25rem 0.1rem;
      }

      .notes {
        overflow: scroll;
      }

      .note_number {
        display: inline-block;

        &.not-single {
          font-size: 0.75em;
        }
      }

      .textarea {
        display: inline-block;
        width: 75%;
        overflow: hidden;
        resize: both;
        min-height: 1em;
        line-height: 1em;

        padding: 0.5rem;
        margin-left: 1rem;
        border: 2px solid black;
        vertical-align: top;

        background-color: wheat;
        color: #151515;

        &:focus {
          background-color: white;
          color: black;
        }

        &.not-single {
          min-height: 0.7em;
          line-height: 0.7em;
          width: 100%;
          font-size: 0.6em;

          margin-left: 2px;
          border: 1px solid black;
        }
      }

      .remove_btn {
        background-color: red;
        color: white;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin-left: 1rem;

        // &.not-single {
        //   width: 1em;
        //   height: 1em;
        //   margin-left: unset;
        //   text-align: left;
        // }
      }
    }
  }

  .week {
    max-height: 80vh;
    border: 2px solid black;
    overflow-y: hidden;

    h1 {
      text-align: center;
      margin: 0.5rem;

      -webkit-user-select: none; /* Chrome all / Safari all */
      -moz-user-select: none; /* Firefox all */
      -ms-user-select: none; /* IE 10+ */
      user-select: none; /* Likely future */
    }

    .week_day {
      display: inline-block;
      vertical-align: top;
      width: 13.95%;
      height: 50%;
      // border: 1px solid black;
      text-align: center;
      margin-left: 0.25em;
    }
  }

  .month {
    max-height: 80vh;
    border: 2px solid black;
    overflow-y: scroll;

    h1 {
      text-align: center;
      margin: 0.5rem;

      -webkit-user-select: none; /* Chrome all / Safari all */
      -moz-user-select: none; /* Firefox all */
      -ms-user-select: none; /* IE 10+ */
      user-select: none; /* Likely future */
    }

    .month_day {
      position: relative;
      margin: 0.5em 0.25em;
      display: inline-block;
      vertical-align: middle;
      width: 32%;
      text-align: center;

      & > div {
        margin: auto;
        max-width: 99%;
        max-height: 14em;
      }
    }
  }

  .year {
    max-height: 80vh;
    border: 2px solid black;
    overflow-y: scroll;
    text-align: center;

    h1 {
      text-align: center;
      margin: 0.5rem;

      -webkit-user-select: none; /* Chrome all / Safari all */
      -moz-user-select: none; /* Firefox all */
      -ms-user-select: none; /* IE 10+ */
      user-select: none; /* Likely future */
    }

    .year_month {
      margin: 0.5em 0.25em;
      width: 15%;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      font-size: 1.5em;
      border: 1px solid black;
      border-radius: 1em;

      u {
        font-weight: bold;
        font-size: 1.25em;
      }

      button {
        margin: 0.25em auto;
        border-radius: 0.25em;
        color: antiquewhite;
        background-color: #8e00b1;
        font-size: 1.25em;
      }
    }
  }

  .add_note {
    display: inline-block;
    vertical-align: top;
    transform: translateY(12.5%);
    margin-left: 25%;
    width: 4rem;
    height: 4rem;

    &.not-single {
      margin-left: unset;
      width: 2em;
      height: 2em;
    }

    button {
      width: 100%;
      height: 100%;

      box-shadow: 2px 2px 4px #000000;
      background-color: hsl(312, 100%, 50%);
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .arrow {
    border: none;
    background: none;
    font-size: 0.75em;
    display: inline-block;
    padding: 2px;
    margin: 0 0.5em;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
